[submodule "src/zsh-users.zsh-completions"]
	path = src/zsh-users.zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "src/zchee.zsh-completions"]
	path = src/zchee.zsh-completions
	url = https://github.com/zchee/zsh-completions.git
[submodule "src/gradle.gradle-completion"]
	path = src/gradle.gradle-completion
	url = https://github.com/gradle/gradle-completion.git
[submodule "src/spwhitt.nix-zsh-completions"]
	path = src/spwhitt.nix-zsh-completions
	url = https://github.com/spwhitt/nix-zsh-completions.git
[submodule "src/custom/genhelp"]
	path = src/custom/genhelp
	url = https://github.com/RobSis/zsh-completion-generator.git
[submodule "src/conda-incubator.conda-zsh-completion"]
	path = src/conda-incubator.conda-zsh-completion
	url = https://github.com/conda-incubator/conda-zsh-completion.git
